[submodule "example/vendor/bitser"]
	path = example/vendor/bitser
	url = https://github.com/gvx/bitser.git
[submodule "example/vendor/luajit-request"]
	path = example/vendor/luajit-request
	url = https://github.com/LPGhatguy/luajit-request.git
[submodule "example/vendor/dkjson"]
	path = example/vendor/dkjson
	url = https://github.com/LuaDist/dkjson.git
